.main-nav {
  margin-top: 20px;
  border-radius: 5em;
  list-style: none;
  padding-left: 0;
  background-color: greenyellow;
}

.main-nav__item {
  display: inline-block;
  margin-left: 90px;
}

.main-nav__item a {
  color: black;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: blue;
}
.main-nav__item a:active {
  color: red;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#imagen {
  width: 30%;
  border-radius: 1em;
  border: 2px solid #222222;
  margin: 0 auto;
}

.titulo {
  color: green;
  text-align: center;
  margin-left: 0px;
  background-color: greenyellow;
}
